body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size:15px;
    color: black;
}

.div_song1
{
    float: left;
}

.div_song1 h3
{
    align-items: center;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;    
}

#song
{
    font-size: 23px;
    margin: 15px;
}

.div_volume
{
    float: right;
}

.div_volume_img
{
    width: 200px;
    border-radius: 100px;    
}

#volume
{
    font-size: 23px;
    margin: 15px;
}